/* body {
  background-image: url(../images/sitebg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
} */
body {
  /* width: 100%; */
  /* float: left; */
  position: relative; /* Add position relative to the parent */
  /* height: auto; */
  background-size: cover;
  /* background-color: black; */
}

body::before {
  content: "";
  display: block;
  position: absolute; /* Position the pseudo-element on top of the parent */
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  height: 100%;
  opacity: 1; /* Set the opacity of the pseudo-element */
  background-image: url(../images/sitebg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.cart-items {
  list-style-type: none;
  padding: 0;
}
.cart-icon {
  position: fixed;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.cart-icon img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.cart-button-container {
  display: flex;
  align-items: center;
}

#back-to-top-btn {
  position: fixed;
  width: 50px;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 999;
  background-color: transparent;
}
.rb_title {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 160px;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 13px;
}
.rb_title:before {
  background-color: rgb(16, 61, 92);
  content: "";
  display: block;
  height: 4px;
  width: 100px;
  margin-bottom: 5px;
}
.rb_title:after {
  background-color: rgb(247, 168, 37);
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 4px;
  width: 100px;
  margin-bottom: 0.25em;
}
